
.all-xushnudbek{
    width: 100%;
    height: 100vh;
    background-color: rgba(75, 56, 98, 0.9);
}
.container-xushnudbek{
    width: 38%;
    margin: 0 auto;
    height: 100vh;
}
.texts-of-container h1{
    color: aliceblue;
    font-size: 2.33rem;
}
.texts-of-container h4{
    color: aliceblue;
    font-size: 1.05rem;
}
.input-container h5{
    color: aliceblue;
}
.input-container input{
    width: 96%;
    height: 5vh;
    border: none;

}
.reg-btn{
    width: 80%;
    margin: 0 auto;
    font-size: 210%;
    color: aliceblue;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(212, 91, 120);
    position: relative;
    bottom: 5%;
    transition-duration: 1.5s;
}
.reg-btn:hover{
    width: 88%;
    margin: 0 auto;
    font-size: 220%;
    color: black;
    background-color: orange;
}
@media screen and (max-width:1040px) {
    .container-xushnudbek{
        width: 65%;

    }
}
@media screen and (max-width:700px) {
    .reg-btn{
        width: 60%;
        font-size: 150%;
        border: 2px solid black;
    }
}
@media screen and (max-width:620px) {
    .reg-btn{
        width: 65%;
        font-size: 1rem;
        border: 2px solid blue;
    }
}
@media screen and (max-width:410px) {
    .reg-btn{
        width: 75%;
        font-size: 0.75rem;
        border: 2px solid black;
    }
}